<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>This is about page</title>
	</head>
	<body>
		<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					
					
					<div class="my-card" mt-2>
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  							<p th:if="${session.message.content}"></p>
  							
  							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						  </div>
						
						<div class="container text-center">
							<img class= "" style="width:80px;" src="" th:src="@{/img/membership.png}" alt=""/>
						</div>
						<h1 class="text-center">Registor Here!!</h1>
						<form action="'" th:action="@{/do_register}" method="post" th:object="${user}">
							
							<!--name field-->
							<div class="form-group">
								
    							<label for="name_field">Your Name</label>
   							 	<input 
   							 	name="name"
   							 	type="text" 
   							 	class="form-control"
								th:classappend="${#fields.hasErrors('name')? 'is-invalid' : ''}"
   							 	id="name_field" 
   							 	aria-describedby="emailHelp"
    							placeholder="Enter Here"
    							required
    							th:value="${user.name}"
    							/>
    							
    							<div id="validationServer03Feedback" class="invalid-feedback" th:each="e:${fields.error('name')}" th:text="${e}">
      									Please provide a valid city.
   									 </div>
    							
  							</div>
  							
  							<!--Email field-->
							<div class="form-group">
								
    							<label for="email_field">Your Email</label>
   							 	<input
   							 	name="email"

   							 	type="email" 
   							 	class="form-control" 
   							 	id="email_field" 
   							 	aria-describedby="emailHelp"
    							placeholder="Enter Here"
    							required
    							th:value="${user.email}"
    							/>
  							</div>
  							
  							
  							<!--password field-->
							<div class="form-group">
								
    							<label for="password_field">Your password</label>
   							 	<input 
   							 	name="password"
   							 	type="password" 
   							 	class="form-control" 
   							 	id="password_field" 
   							 	aria-describedby="emailHelp"
    							placeholder="Enter Here"
    							required
    							/>
  							</div>
  							
  							
  							<!--about field-->
							<div class="form-group">
								
    							<label for="about_field">Enter somthing about you</label>
   							 	<textarea name="about" th:text ="${user.about}" placeholder="Enter somthing about yourself" rows="10" class="form-control"></textarea>
  							</div>
  							<!-- terms and condition-->
  							<div class="form-group form-check text-center">
  							
  								<input type="checkbox"
  									name="agreement"
  									class="form-check-input"
  									id="agreement"
  									/>
  									<label for="agreement">Accept terms and condition</label>
  							</div>
  							
  							<div class="container text-center">
								  <button type="submit" class="btn bg-primary text-white">
									  Submit
								  </button>
								  <button type="reset" class="btn btn-warning">
									  Reset
								  </button>
								  
							  </div>
							
							
							
						</form>
					</div>
				
				
				
				</div>
				
				
				
				
			</div>
		</div>
		</section>
	</body>
</html>